<?xml version="1.0"?>
<Events>
    <Event id="eventReceived">
        <Name>Any Event Received</Name>
		<ConfigUI>
            <Field id="camectID" type="menu">
                <Label>Select Camect:</Label>
                <List class="self" filter="Any" method="pickCamect" dynamicReload="true"/>
            </Field>            
		</ConfigUI>
    </Event>
</Events>
