<?xml version="1.0"?>
<Events>
    <Event id="alertEvent">
        <Name>Alert Event</Name>
		<ConfigUI>
            <Field id="camectID" type="menu">
                <Label>Select Camect:</Label>
                <List class="self" filter="Any" method="pickCamect" dynamicReload="true"/>
                <CallbackMethod>menuChanged</CallbackMethod>
            </Field>            
            <Field id="cameraID" type="menu">
                <Label>Select Camera:</Label>
                <List class="self" filter="Any" method="pickCamera" dynamicReload="true"/>
                <CallbackMethod>menuChanged</CallbackMethod>
            </Field>            
            <Field id="object" type="menu">
                <Label>Select Object Type:</Label>
                <List class="self" filter="Any" method="pickObject" dynamicReload="true"/>
                <CallbackMethod>menuChanged</CallbackMethod>
            </Field>       
		</ConfigUI>
    </Event>
    <Event id="modeEvent">
        <Name>Mode Event</Name>
		<ConfigUI>
            <Field id="camectID" type="menu">
                <Label>Select Camect:</Label>
                <List class="self" filter="Any" method="pickCamect" dynamicReload="true"/>
                <CallbackMethod>menuChanged</CallbackMethod>
            </Field>            
		</ConfigUI>
    </Event>
</Events>
